<td><%= link_to user.first_name, user %></td>
<td><%= link_to user.email, user %></td>
<% if current_user.requested_friends.map(&:id).include?(user.id) %>
	<td><%= link_to 'Accept', accept_request_user_path(user)%>
<% elsif current_user.pending_friends.map(&:id).include?(user.id) %>
	<td><%= link_to 'Request send' %></td>
<%elsif current_user.friends_with?(user)%>
	<td><%= link_to 'Friend','#' %></td>
<%else%>
	<td><%= link_to 'send request', friend_request_user_path(user) %></td>
<% end %>	 